<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>This site was created by R. It uses data from mapbox.com and darksky.net!</p>
        <img class="img1" src="/img/338.jpg">
    </div>

    {{>footer}}
</body>

</html>